<template>
    <v-dialog width="fit-content" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn x-small text icon v-on="on" :loading="localLoading" :disabled="localLoading">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="primary" dark v-on="on">mdi-delete</v-icon>
                    </template>
                    <span>Удалить комментарий</span>
                </v-tooltip>
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">Вы действительно хотите удалить комментарий?</span>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="error"
                                    :loading="localLoading"
                                    :disabled="localLoading"
                                    @click="deleteComment"
                            >Удалить</v-btn>
                            <v-btn
                                    @click="onCancel"
                                    :disabled="localLoading"
                            >Отмена</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "DeleteCommentModal",
        props: ['thisCommentId', 'thisThreadId'],
        data(){
            return{
                modal: false,
                localLoading: false,
            }
        },
        methods: {
            onCancel(){
                this.modal = false
            },
            deleteComment(){
                this.localLoading = true
                let commentId = this.thisCommentId
                let threadId = this.thisThreadId
                const commentToDelete = {
                    commentId,
                    threadId,
                }
                this.$store.dispatch('deleteComment', commentToDelete)
                    .then(() => {
                        this.localLoading = false
                        this.modal = false
                    })
            }
        }

    }
</script>

<style scoped>
</style>
