<template>
    <v-dialog width="fit-content" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn x-small text icon v-on="on" :loading="localLoading" :disabled="localLoading">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="primary" dark v-on="on">mdi-delete</v-icon>
                    </template>
                    <span>Удалить запись</span>
                </v-tooltip>
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">Вы действительно хотите удалить эту запись и все комментарии к ней?</span>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="error"
                                    :loading="localLoading"
                                    :disabled="localLoading"
                                    @click="deleteThread"
                            >Удалить</v-btn>
                            <v-btn
                                    @click="onCancel"
                                    :disabled="localLoading"
                            >Отмена</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    /* eslint-disable no-console */

    export default {
        name: "DeleteThreadModal",
        props: ['thisThreadId'],
        data(){
            return{
                modal: false,
                localLoading: false,
            }
        },
        methods: {
            onCancel(){
                this.modal = false
            },
            deleteThread(){
                this.localLoading = true
                let threadId = this.thisThreadId
                this.$store.dispatch('deleteThread', threadId)
                    .then(() => {
                        this.localLoading = false
                        this.modal = false
                        this.$router.push('/Forum')
                    })
            }
        }

    }
</script>

<style scoped>
</style>