<template>
    <v-container transition="slide-x-transition">
        <v-row no-gutters dense>
            <v-col cols="12">
                <new-thread-modal></new-thread-modal>
                <v-card class="forum-card thread-card ma-2 mx-auto"
                        elevation="5"
                        v-for="thread in threads"
                        :key="thread.threadId">
                    <router-link class="card-link" :to="'/thread/' + thread.threadId">
                        <div class="thread-info overline">
                            <span class="thread-data">{{thread.creationDate}} </span>
                            <span class="thread-data">Комментариев:  {{thread.comments.length}} </span>
                        </div>
                        <v-card-title primary-title>
                            <div>
                                <h3>{{thread.title}}</h3>
                            </div>
                        </v-card-title>
                        <v-card-subtitle>
                            <span>{{thread.briefContent}}</span>
                        </v-card-subtitle>
                    </router-link>
                    <div class="actions-block">
                        <update-thread-modal :thisThreadId="thread.threadId"></update-thread-modal>
                        <delete-thread-modal :thisThreadId="thread.threadId"></delete-thread-modal>
                    </div>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    /* eslint-disable no-console */

    import {mapGetters} from 'vuex'
    export default {
        name: "Forum",

        data(){
            return{
                localLoading: false
            }
        },
        computed: {
            ...mapGetters([
                'threads',
                'comments'
            ]),

        },
    }
</script>

<style lang="less">
    .forum-card{
        position: relative;
        transition: background-color .3s;
        &.thread-card{
            &:hover{
                background: rgba(205, 220, 255, 0.63);
            }
        }
        .card-link{
            height: 100%;
            width: 100%;
            display: block;
            padding: 10px;
            text-decoration: none;
            color: #000;
        }
        .actions-block{
            position: absolute;
            top: 5px;
            right: 5px;
            .v-btn{
                &:first-child{
                    margin-right: 5px;
                }
            }
        }
    }
</style>