<template>
    <v-dialog width="800px" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn fab dark color="indigo" v-on="on" :loading="localLoading" :disabled="localLoading">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon dark v-on="on">mdi-plus</v-icon>
                    </template>
                    <span>Добавить новую запись</span>
                </v-tooltip>
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Новая запись</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="title"
                                        label="Тема для обсуждения"
                                        type="text"
                                        v-model="title"
                                        :rules="titleRules"
                                        outlined
                                ></v-text-field>
                                <v-textarea
                                        name="brief-content"
                                        label="Краткое содержание"
                                        type="text"
                                        v-model="briefContent"
                                        :rules="briefContentRules"
                                        outlined
                                ></v-textarea>
                                <v-textarea
                                        name="content"
                                        label="Содержание"
                                        type="text"
                                        v-model="content"
                                        :rules="contentRules"
                                        outlined
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onCreateThread"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    /* eslint-disable no-console */

    export default {
        name: "NewThreadModal",
        data(){
            return{
                search: '',
                modal: false,
                title: '',
                briefContent: '',
                content: '',
                valid: false,
                localLoading: false,
                titleRules: [
                    v => !!v || 'Введите название темы'
                ],
                contentRules: [
                    v => !!v || 'Добавьте содержание темы для обсуждения'
                ],
                briefContentRules: [
                    v => !!v || 'Добавьте краткое содержание темы для обсуждения'
                ]
            }
        },
        methods: {
            onCancel(){
                this.title = ''
                this.content = ''
                this.briefContent = ''
                this.modal = false
            },
            onCreateThread(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const newThread = {
                        title: this.title,
                        briefContent: this.briefContent,
                        content: this.content,
                    }
                    this.$store.dispatch('createNewThread', newThread)
                        .finally(() => {
                            this.title = ''
                            this.content = ''
                            this.briefContent = ''
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>