<template>
    <v-container transition="slide-x-transition">
            <!-----------------------------------------------thread-card---------------------------------------------->
        <v-card class="forum-card pa-3 ma-2 mx-auto"
                elevation="5">
            <div class="thread-info overline">
                <span class="thread-data">{{thread.creationDate}} </span>
                <span class="thread-data">Комментариев:  {{thread.comments.length}} </span>
            </div>
            <v-card-title primary-title>
                <h3>{{thread.title}}</h3>
            </v-card-title>
            <v-card-text>
                <span>{{thread.content}}</span>
            </v-card-text>
            <div class="actions-block">
                <update-thread-modal :thisThreadId="thread.threadId"></update-thread-modal>
                <delete-thread-modal :thisThreadId="thread.threadId"></delete-thread-modal>
            </div>
        </v-card>

            <!------------------------------------------------comment-card--------------------------------------------->

            <v-card class="forum-card pa-3 ma-2 mx-auto"
                    elevation="5"
                    v-for="comment in thread.comments"
                    :key="comment.commentId">

                <div class="thread-info overline">
                    <span class="thread-data">by <span class="author-name">{{comment.authorName}}</span> {{comment.creationDate}}</span>
                </div>
                <v-card-text class="forum-card-inner">
                    <p>{{comment.comment}}</p>
                </v-card-text>
                <div class="actions-block">
                    <update-comment-modal :thisCommentId="comment.commentId" :thisThreadId="thread.threadId"></update-comment-modal>
                    <delete-comment-modal :thisCommentId="comment.commentId" :thisThreadId="thread.threadId"></delete-comment-modal>
                </div>
            </v-card>

        <!------------------------------------------------comment-form--------------------------------------------->
            <v-card class="pa-3 ma-2 mx-auto"
                    elevation="5">
                <v-form v-model="valid" ref="form" validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="name"
                                        label="Имя"
                                        type="text"
                                        v-model="authorName"
                                        :rules="authorNameRules"
                                        outlined
                                ></v-text-field>
                                <v-textarea
                                        name="comment"
                                        label="Ваш комментарий"
                                        type="text"
                                        v-model="comment"
                                        :rules="commentRules"
                                        outlined
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row wrap>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        :loading="localLoading"
                                        :thisThreadId="thread.threadId"
                                        :disabled="!valid || localLoading"
                                        @click="onSubmit"
                                >Оставить комментарий
                                </v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-card>
    </v-container>
</template>

<script>
    /* eslint-disable no-console */

    import {mapGetters} from 'vuex'
    export default {
        name: "Thread",
        props: ['id'],
        data(){
            return{
                valid: false,
                comment: '',
                authorName: '',
                localLoading: false,
                threadId: this.id,
                commentRules: [
                    v => !!v || 'Введите комментарий'
                ],
                authorNameRules: [
                    v => !!v || 'Введите Ваше имя'
                ],
                replyTo: null
            }
        },
        computed: {
            ...mapGetters([
                'threads',
                'comments'
                ]),
            thread () {
                const id = this.id
                return this.$store.getters.threadById(id)
            },
        },
        methods: {
            onSubmit() {
                if (this.$refs.form.validate()) {
                    this.localLoading = true
                    const newComment = {
                        comment: this.comment,
                        authorName: this.authorName,
                        threadId: this.threadId,
                    }
                    this.$store.dispatch('addComment', newComment)
                        .finally(() => {
                            this.comment = ''
                            this.authorName = ''
                            this.valid = false
                            this.localLoading = false
                        })
                }
            },
        },
    }
</script>

<style lang="less">
    .thread-info{
        .thread-data{
            text-transform: lowercase;
            .author-name{
                text-transform: uppercase;
                font-weight: bold;
            }
        }
    }
</style>