<template>
    <v-dialog width="800px" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn x-small text icon v-on="on" :loading="localLoading" :disabled="localLoading">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="primary" dark v-on="on">mdi-pencil</v-icon>
                    </template>
                    <span>Редактировать комментарий</span>
                </v-tooltip>
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Редактировать комментарий</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-textarea
                                        name="comment"
                                        label="Ваш комментарий"
                                        type="text"
                                        v-model="comment"
                                        :rules="commentRules"
                                        outlined
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onUpdateComment"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    /* eslint-disable no-console */

    export default {
        name: "UpdateCommentModal",
        props: ['thisCommentId', 'thisThreadId'],
        data(){
            return{
                search: '',
                modal: false,
                comment: '',
                valid: false,
                localLoading: false,
                commentRules: [
                    v => !!v || 'Добавьте комментарий'
                ]
            }
        },
        computed: {
            thisComment () {
                const id = this.thisThreadId
                const thread = this.$store.getters.threadById(id)
                return thread.comments.find(a => {
                    return a.commentId === this.thisCommentId
                })
            }
        },
        mounted(){
            this.comment = this.thisComment.comment
        },
        methods: {
            onCancel(){
                this.comment = this.thisComment.comment
                this.modal = false
            },
            onUpdateComment(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const updatedComment = {
                        comment: this.comment,
                        commentId: this.thisCommentId,
                        threadId: this.thisThreadId
                    }
                    this.$store.dispatch('updateComment', updatedComment)
                        .finally(() => {
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        },
    }
</script>

<style scoped>
</style>
