<template>
    <v-dialog width="800px" v-model="modal">
        <template v-slot:activator="{ on }">
            <v-btn x-small text icon v-on="on" :loading="localLoading" :disabled="localLoading">
                <v-tooltip top>
                    <template v-slot:activator="{ on }">
                        <v-icon color="primary" dark v-on="on">mdi-pencil</v-icon>
                    </template>
                    <span>Редактировать запись</span>
                </v-tooltip>
            </v-btn>
        </template>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Редактировать запись</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="title"
                                        label="Тема для обсуждения"
                                        type="text"
                                        v-model="title"
                                        :rules="titleRules"
                                        outlined
                                ></v-text-field>
                                <v-textarea
                                        name="brief-content"
                                        label="Краткое содержание"
                                        type="text"
                                        v-model="briefContent"
                                        :rules="briefContentRules"
                                        outlined
                                ></v-textarea>
                                <v-textarea
                                        name="content"
                                        label="Содержание"
                                        type="text"
                                        v-model="content"
                                        :rules="contentRules"
                                        outlined
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onUpdateThread"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "UpdateThreadModal",
        props: ['thisThreadId'],
        data(){
            return{
                search: '',
                modal: false,
                title: '',
                content: '',
                briefContent: '',
                valid: false,
                localLoading: false,
                titleRules: [
                    v => !!v || 'Введите название темы'
                ],
                contentRules: [
                    v => !!v || 'Добавьте содержание темы для обсуждения'
                ],
                briefContentRules: [
                    v => !!v || 'Добавьте краткое содержание темы для обсуждения'
                ]
            }
        },
        computed: {
            thread () {
                const id = this.thisThreadId
                return this.$store.getters.threadById(id)
            }
        },
        created(){
            this.title = this.thread.title
            this.briefContent = this.thread.briefContent
            this.content = this.thread.content
        },
        methods: {
            onCancel(){
                this.title = this.thread.title
                this.briefContent = this.thread.briefContent
                this.content = this.thread.content
                this.modal = false
            },
            onUpdateThread(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const updatedThread = {
                        title: this.title,
                        briefContent: this.briefContent,
                        content: this.content,
                        threadId: this.thisThreadId
                    }
                    this.$store.dispatch('updateThread', updatedThread)
                        .finally(() => {
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        }
    }
</script>

<style scoped>
</style>