<template>
  <v-app>
    <v-navigation-drawer
            v-model="drawer"
            clipped
            temporary
            app
    >
      <v-list dense>
        <v-list-item link to="/">
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar
            app
            color="indigo"
            dark
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer" class="hidden-md-and-up"/>
      <router-link to="/" tag="h1" class="home-link"><v-toolbar-title>Hybrid test task</v-toolbar-title></router-link>
    </v-app-bar>

    <v-content>
      <router-view></router-view>
    </v-content>
    <v-footer
            color="indigo"
            app
    >
      <span class="white--text">&copy; 2019</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  name: 'App',
    props: {
        source: String,
    },
    data: () => ({
        drawer: null,
    }),
};
</script>
<style lang="less">
  .home-link{
    cursor: pointer;
    &:hover{
      color: #ffe2b7;
    }
  }
</style>
